.box{
    border-radius: 5px;
    padding-left: 3px;
    height: 100px;
}


.box1{
    background-image: url(./owlcarousel/assets/12.jpg);
    height: 500px;
    background-size: cover;
    width: 100%;
}

.box2{
    background-image: url(./owlcarousel/assets/13.jpg);
    height: 500px;
    background-size: cover;
}
.box3{
    background-image: url(./owlcarousel/assets/14.jpg);
    height: 500px;
    background-size: cover;
}